In [1]:
#using class and object write a program that will accept,display,search,update and delete student record

In [18]:
class studentmanagement:
    def __init__(self,Name,Gender,dob,seatnumber):
        self.Name =Name
        self.Gender =Gender
        self.dob=dob
        self.seatnumber =seatnumber
    def accept(self,NAME,GENDER,DOB,SEATNUMBER):
        ob = studentmanagement(NAME,GENDER,DOB,SEATNUMBER)
        studentlist.append(ob)
    def display(self,ob):
        print(f'''NAME:{ob.Name}
GENDER:{ob.Gender}
DATE OF BIRTH:{ob.dob}
SEAT NUMBER:{ob.seatnumber}
''')
    def search(self):
        sn = int(input('Enter seat number to find:'))
        for i in range(len(studentlist)):
            if studentlist[i].seatnumber == sn:
                return i
            
    def update(self):
        oldnumber =int(input('Enter seat number to update:'))
        newnumber = int(input('Enter New seat number:'))
        s = obj.search()
        studentlist[s].seatnumber = newnumber
    def delete(self):
        oldnumber =int(input('Enter seat number to delete:'))
        i  = obj.search()
        del studentlist[i]
studentlist = []
obj = studentmanagement('','','',0)

In [19]:
obj.accept('Ade Ojo','Male','22/06/1990',1)
obj.accept('MAry Paul','Female','15/02/1992',2)
obj.accept('John James','Male','30/03/1998',3)
obj.accept('Paul Ojo','Male','15/04/1994',4)
obj.accept('Hope Henry','Female','22/06/1996',5)

In [20]:
for i in range(len(studentlist)):
    obj.display(studentlist[i])

NAME:Ade Ojo
GENDER:Male
DATE OF BIRTH:22/06/1990
SEAT NUMBER:1

NAME:MAry Paul
GENDER:Female
DATE OF BIRTH:15/02/1992
SEAT NUMBER:2

NAME:John James
GENDER:Male
DATE OF BIRTH:30/03/1998
SEAT NUMBER:3

NAME:Paul Ojo
GENDER:Male
DATE OF BIRTH:15/04/1994
SEAT NUMBER:4

NAME:Hope Henry
GENDER:Female
DATE OF BIRTH:22/06/1996
SEAT NUMBER:5

In [21]:
s = obj.search()
obj.display(studentlist[s])

NAME:Hope Henry
GENDER:Female
DATE OF BIRTH:22/06/1996
SEAT NUMBER:5

In [22]:
obj.update()
for i in range(len(studentlist)):
    obj.display(studentlist[i])

NAME:Ade Ojo
GENDER:Male
DATE OF BIRTH:22/06/1990
SEAT NUMBER:1

NAME:MAry Paul
GENDER:Female
DATE OF BIRTH:15/02/1992
SEAT NUMBER:2

NAME:John James
GENDER:Male
DATE OF BIRTH:30/03/1998
SEAT NUMBER:3

NAME:Paul Ojo
GENDER:Male
DATE OF BIRTH:15/04/1994
SEAT NUMBER:4

NAME:Hope Henry
GENDER:Female
DATE OF BIRTH:22/06/1996
SEAT NUMBER:6

In [23]:
obj.delete()