In [1]:
import pymysql

In [2]:
mydb = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password = 'seyilaw1',
    database='greenwayschoolmanagementsystem'
)
mycursor = mydb.cursor()

In [3]:
mycursor.execute('alter table staffdetails add column staffaddress text not null')
mycursor.execute('show columns from staffdetails')
for x in mycursor:
    print(x)

('id', 'int', 'NO', 'PRI', None, '')
('StaffName', 'varchar(255)', 'NO', '', None, '')
('staffgender', 'varchar(10)', 'NO', '', None, '')
('staffdob', 'date', 'NO', '', None, '')
('staffaddress', 'text', 'NO', '', None, '')

In [4]:
mycursor.execute('alter table staffdetails add column staffcontact text not null after staffdob')
mycursor.execute('show columns from staffdetails')
for x in mycursor:
    print(x)

('id', 'int', 'NO', 'PRI', None, '')
('StaffName', 'varchar(255)', 'NO', '', None, '')
('staffgender', 'varchar(10)', 'NO', '', None, '')
('staffdob', 'date', 'NO', '', None, '')
('staffcontact', 'text', 'NO', '', None, '')
('staffaddress', 'text', 'NO', '', None, '')

In [6]:
mycursor.execute('alter table staffdetails modify column staffcontact varchar(255) not null')
mycursor.execute('show columns from staffdetails')
for x in mycursor:
    print(x)

('id', 'int', 'NO', 'PRI', None, '')
('StaffName', 'varchar(255)', 'NO', '', None, '')
('staffgender', 'varchar(10)', 'NO', '', None, '')
('staffdob', 'date', 'NO', '', None, '')
('staffcontact', 'varchar(255)', 'NO', '', None, '')
('staffaddress', 'text', 'NO', '', None, '')

In [7]:
mycursor.execute('alter table staffdetails drop staffaddress')
mycursor.execute('show columns from staffdetails')
for x in mycursor:
    print(x)

('id', 'int', 'NO', 'PRI', None, '')
('StaffName', 'varchar(255)', 'NO', '', None, '')
('staffgender', 'varchar(10)', 'NO', '', None, '')
('staffdob', 'date', 'NO', '', None, '')
('staffcontact', 'varchar(255)', 'NO', '', None, '')

In [8]:
mycursor.execute('alter table staffdetails change column staffcontact staffphonenumber varchar(255) not null')
mycursor.execute('show columns from staffdetails')
for x in mycursor:
    print(x)

('id', 'int', 'NO', 'PRI', None, '')
('StaffName', 'varchar(255)', 'NO', '', None, '')
('staffgender', 'varchar(10)', 'NO', '', None, '')
('staffdob', 'date', 'NO', '', None, '')
('staffphonenumber', 'varchar(255)', 'NO', '', None, '')

In [9]:
mycursor.execute('alter table staffdetails rename to staffrecords')
mycursor.execute('show tables')
for x in mycursor:
    print(x)

('staffrecords',)

In [10]:
sql = 'insert into staffrecords(id,StaffName,staffgender,staffdob,staffphonenumber) values(%s,%s,%s,%s,%s)'
values = [(1,'Janet Lawal','Female','1987-02-22','08145897568'),
          (2,'Samuel Okoro','Male','1990-06-06','08123659878'),
          (3,'Jackson Akpan','Male','1995-07-25','08056523221'),
          (4,'Susan Paul','Female','1992-06-27','09056232323'),
          (5,'Ojukwu Okere','Male','1991-12-24','09145878987'),
          (6,'Johan Akinlabi','Female','1988-09-25','09147787979'),
           (7,'Patrick Ogunlade','Male','1994-01-01','07052521416')]
mycursor.executemany(sql,values)
mydb.commit()

In [12]:
mycursor.execute('select * from staffrecords')
for x in mycursor:
    print(x)

(1, 'Janet Lawal', 'Female', datetime.date(1987, 2, 22), '08145897568')
(2, 'Samuel Okoro', 'Male', datetime.date(1990, 6, 6), '08123659878')
(3, 'Jackson Akpan', 'Male', datetime.date(1995, 7, 25), '08056523221')
(4, 'Susan Paul', 'Female', datetime.date(1992, 6, 27), '09056232323')
(5, 'Ojukwu Okere', 'Male', datetime.date(1991, 12, 24), '09145878987')
(6, 'Johan Akinlabi', 'Female', datetime.date(1988, 9, 25), '09147787979')
(7, 'Patrick Ogunlade', 'Male', datetime.date(1994, 1, 1), '07052521416')

In [13]:
mycursor.execute('update staffrecords set staffdob = "1989-06-06" where id = 2')
mycursor.execute('select * from staffrecords')
for x in mycursor:
    print(x)

(1, 'Janet Lawal', 'Female', datetime.date(1987, 2, 22), '08145897568')
(2, 'Samuel Okoro', 'Male', datetime.date(1989, 6, 6), '08123659878')
(3, 'Jackson Akpan', 'Male', datetime.date(1995, 7, 25), '08056523221')
(4, 'Susan Paul', 'Female', datetime.date(1992, 6, 27), '09056232323')
(5, 'Ojukwu Okere', 'Male', datetime.date(1991, 12, 24), '09145878987')
(6, 'Johan Akinlabi', 'Female', datetime.date(1988, 9, 25), '09147787979')
(7, 'Patrick Ogunlade', 'Male', datetime.date(1994, 1, 1), '07052521416')

In [14]:
mycursor.execute('delete from staffrecords where id = 7')
mycursor.execute('select * from staffrecords')
for x in mycursor:
    print(x)

(1, 'Janet Lawal', 'Female', datetime.date(1987, 2, 22), '08145897568')
(2, 'Samuel Okoro', 'Male', datetime.date(1989, 6, 6), '08123659878')
(3, 'Jackson Akpan', 'Male', datetime.date(1995, 7, 25), '08056523221')
(4, 'Susan Paul', 'Female', datetime.date(1992, 6, 27), '09056232323')
(5, 'Ojukwu Okere', 'Male', datetime.date(1991, 12, 24), '09145878987')
(6, 'Johan Akinlabi', 'Female', datetime.date(1988, 9, 25), '09147787979')

In [16]:
mycursor.execute('select * from staffrecords where staffgender = "Male"')
for x in mycursor:
    print(x)

(2, 'Samuel Okoro', 'Male', datetime.date(1989, 6, 6), '08123659878')
(3, 'Jackson Akpan', 'Male', datetime.date(1995, 7, 25), '08056523221')
(5, 'Ojukwu Okere', 'Male', datetime.date(1991, 12, 24), '09145878987')